@using ExampleBank.Web.Models.Accounts.Responses;
@model ResultModel<IEnumerable<AccountInfoResponseModel>>
@{
    ViewData["Title"] = "Account Info";
}

@if (!Model.Success)
{
    <div class="alert alert-danger" role="alert">
        @Model.Message
    </div>
}

<table class="table table-light table-hover">
    @foreach (var item in Model.Result)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td></td>
        </tr>
    }
</table>